table {
  width: 100%;
  margin: 2% auto;
}

td, th {
  border-collapse: collapse;
  width: 48%;
  text-align: left;
}

.name {
  font-size: 1.5em;
}

.fa-award {
  margin-right: 2%;
}
.normal {
  color: grey;
}
.favourite {
  color: green;
}
  