<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<div class="topnav">
  <div id = "grad">
    <Strong>Toronto Waste Lookup</Strong>
  </div>
  <div id="search">
      <form (submit)= "onSubmit()">
        <input class="form-control form-control-lg" type="text" placeholder="Search..." [(ngModel)]="keyWord" name = "search">
        <button type="submit" class="btn btn-success btn-lg"><i class="fa fa-search"></i></button>
      </form>
  </div>
</div>